.about-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: white;
}

.content-grid {
  /* flex: auto; */
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 3.25rem 1.5rem 1rem;
  text-align: center;
}

h1 {
  padding: 1rem 0;
  font-size: 3rem;
}


.about-wrapper > .about-content {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.about-content > p {
  font-weight: 300;
  padding: 0.5rem 0;
}