.about-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 1rem 0;
  font-size: 3rem;
}

.content-grid {
  flex: auto;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-wrapper > .about-content {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0 12%;
  background: linear-gradient(to right, rgba(120, 152, 181, 0.75), rgba(0, 168, 106, 0.75));
  
}

.about-content > p {
  font-weight: 300;
  text-align: justify;
  padding: 0.5rem 0;
}

#principles {
  text-align: center;
}

#french {
  text-align: center;
}